* {
    text-align: center;
    font-family: "Roboto";
    font-weight: 330 black;
}
div{
    width: 100%;
}

p{
    font-size: 18px;
    margin-bottom: 0px;
}
#paragraph1{
    font-size: 35px;
    color: #fff;
}
#paragraph2{
    font-size:35px;
    color: solid black;
}
/* #paragraph3{
font-size: 40px; 
}*/
h2{
    margin-top: 0px;
    border-top: 2px solid #c4c4c4;
    border-bottom: 2px solid #c4c4c4;
}
h3 {
    font-size: 25px;
    margin: 0px;
}

body {
    font-size: 18px;
    margin: 0;
}

.small {
    font-size: 12px;
    margin: 0px;
    color: #99d930;
}

.container
{
    width: 650px;
    margin: 0 auto;
    text-align: center; 
}
img {
    height: 280px;
    width: 280px;
    border-radius: 50%;
}

.myname {
    font-size: 35px;
    color: #fff;
    color: #99d930;
    font-weight: 900;
}

.public {
    font-size: 40px;
    margin-top: 0px;
   color: #99d930;
    }

a{
    font-size: 20px;
    font-weight: 500;
    color: yellowgreen;
}

a:hover {
    color: #131313;
}

.heading1 {
    background-color:#252525 ;
    padding-top: 25px;
    padding-bottom: 50px;
}

.section1 {
    background-color: #ffeaea;
    padding-top: 25px;
    padding-bottom: 50px;
}

.article1 {
    background-color: #252525;
    padding-top: 25px;
    padding-bottom: 50px;
    color: #fff;
  
}
button{
    text-decoration: none;
        color: #252525;
        background-color: #99d930;
        font-size: 25px;
        margin-bottom: 5px;
        margin-top: 10px;
}